<div class="container">

    <h1 class="text-center mt-5">Post</h1>

    <div class="row mb-5 tarjeta">
        <div class="col-12 col-lg-9">
            <div class="row my-4">
                <div class="col-12 col-lg-6">
                    <a href="">
                       <img src="https://via.placeholder.com/300.png?text=Imagen+del+post" alt="" class="w-100">
                    </a>
                </div>
                <div class="col-12 col-lg-6">
                    <a href="">
                        <h2>Primera publicacion</h2>
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde expedita vel velit, animi
                        perspiciatis
                        enim inventore molestiae a reprehenderit modi pariatur culpa! Delectus, est itaque labore vel
                        illum
                        nihil porro?
                    </p>
                    <p>
                        Abril 22, 2021 | Hace 8 min
                    </p>
                    <a href="">
                        <h3 class="font-weight-bolder">Jorge Gaitan</h3>
                    </a>
                    <div>
                        <button mat-button class="reaction"> <input id="radio1" type="checkbox" name="estrellas"
                                value="5">
                            <label for="radio1"><i class="fa fa-thumbs-up mr-1"></i> Me gusta</label></button>

                        <button mat-button class="reaction"> <input id="radio2" type="checkbox" name="estrellas"
                                value="5">
                            <label for="radio2"><i class="fa fa-share-alt mr-2"></i>Compartir</label></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 d-none d-sm-none d-md-block">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Edinson Castillo</mat-card-title>
                </mat-card-header>
                <div class="text-center mb-3">
                    <i class="fa fa-user-circle fa-5x"></i>

                </div>
                <mat-card-content>
                    <p>
                        Estudiante de analisis y desarrollo de sistemas de información con conocimiento previo en el uso
                        del lenguaje de etiquetado Html, Css, Js. Con conocimiento en los frameworks Angular, Bootstrap,
                        Materialize, Material angular
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-12 my-4 gray">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <a href="">
                        <h2>Primera publicacion</h2>
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde expedita vel velit, animi
                        perspiciatis
                        enim inventore molestiae a reprehenderit modi pariatur culpa! Delectus, est itaque labore vel
                        illum
                        nihil porro? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam impedit
                        necessitatibus hic quia suscipit rem quasi architecto, reiciendis maxime nisi accusantium fugiat
                        ipsum sequi. Dolorem, maxime inventore maiores facilis expedita modi ab voluptas illum fugiat
                        magnam tenetur odio cupiditate possimus enim earum odit libero ea veritatis pariatur aliquam rem
                        fugit.
                    </p>
                    <p>
                        Abril 22, 2021 | Hace 8 min
                    </p>
                    <a href="">
                        <h3 class="font-weight-bolder">Cesar Pertuz</h3>
                    </a>
                    <div>
                        <button mat-button class="reaction"> <input id="radio1" type="checkbox" name="estrellas"
                                value="5">
                            <label for="radio1"><i class="fa fa-thumbs-up mr-1"></i> Me gusta</label></button>

                        <button mat-button class="reaction"> <input id="radio2" type="checkbox" name="estrellas"
                                value="5">
                            <label for="radio2"><i class="fa fa-share-alt mr-2"></i>Compartir</label></button>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <img src="https://via.placeholder.com/300.png?text=Imagen+del+post" alt="" class="w-100">
                </div>
            </div>
        </div>

        
        <div class="col-12 my-4">
            <div class="row">
                
                <div class="col-12 col-lg-3">
                    <img src="https://via.placeholder.com/120x120.png?text=Imagen+del+post" alt="" class="w-100">
                </div>
                <div class="col-12 col-lg-9">
                    <a href="">
                        <h2>Primera publicacion</h2>
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde expedita vel velit, animi
                        perspiciatis
                        enim inventore molestiae a reprehenderit modi pariatur culpa! Delectus, est itaque labore vel
                        illum
                        nihil porro? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam impedit
                        necessitatibus hic quia suscipit rem quasi architecto, reiciendis maxime nisi accusantium fugiat
                        ipsum sequi. Dolorem, maxime inventore maiores facilis expedita modi ab voluptas illum fugiat
                        magnam tenetur odio cupiditate possimus enim earum odit libero ea veritatis pariatur aliquam rem
                        fugit.
                    </p>
                    <p>
                        Abril 22, 2021 | Hace 8 min
                    </p>
                    <a href="">
                        <h3 class="font-weight-bolder">Gabriel Moncada</h3>
                    </a>
                    <div>
                        <button mat-button class="reaction"> <input id="radio1" type="checkbox" name="estrellas"
                                value="5">
                            <label for="radio1"><i class="fa fa-thumbs-up mr-1"></i> Me gusta</label></button>

                        <button mat-button class="reaction"> <input id="radio2" type="checkbox" name="estrellas"
                                value="5">
                            <label for="radio2"><i class="fa fa-share-alt mr-2"></i>Compartir</label></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 my-4 gray">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <a href="">
                        <h2>Primera publicacion</h2>
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde expedita vel velit, animi
                        perspiciatis
                        enim inventore molestiae a reprehenderit modi pariatur culpa! Delectus, est itaque labore vel
                        illum
                        nihil porro? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam impedit
                        necessitatibus hic quia suscipit rem quasi architecto, reiciendis maxime nisi accusantium fugiat
                        ipsum sequi. Dolorem, maxime inventore maiores facilis expedita modi ab voluptas illum fugiat
                        magnam tenetur odio cupiditate possimus enim earum odit libero ea veritatis pariatur aliquam rem
                        fugit.
                    </p>
                    <p>
                        Abril 22, 2021 | Hace 8 min
                    </p>
                    <a href="">
                        <h3 class="font-weight-bolder">Omar Pertuz</h3>
                    </a>
                    <div>
                        <button mat-button class="reaction"> <input id="radio1" type="checkbox" name="estrellas"
                                value="5">
                            <label for="radio1"><i class="fa fa-thumbs-up mr-1"></i> Me gusta</label></button>

                        <button mat-button class="reaction"> <input id="radio2" type="checkbox" name="estrellas"
                                value="5">
                            <label for="radio2"><i class="fa fa-share-alt mr-2"></i>Compartir</label></button>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <img src="https://via.placeholder.com/120x120.png?text=Imagen+del+post" alt="" class="w-100">
                </div>
            </div>
        </div>

        <div class="col-12 my-4">
            <div class="row">
                <div class="col-12 col-lg-3">
                    <img src="https://via.placeholder.com/120x120.png?text=Imagen+del+post" alt="" class="w-100">
                </div>
                <div class="col-12 col-lg-9">
                    <a href="">
                        <h2>Primera publicacion</h2>
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde expedita vel velit, animi
                        perspiciatis
                        enim inventore molestiae a reprehenderit modi pariatur culpa! Delectus, est itaque labore vel
                        illum
                        nihil porro? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam impedit
                        necessitatibus hic quia suscipit rem quasi architecto, reiciendis maxime nisi accusantium fugiat
                        ipsum sequi. Dolorem, maxime inventore maiores facilis expedita modi ab voluptas illum fugiat
                        magnam tenetur odio cupiditate possimus enim earum odit libero ea veritatis pariatur aliquam rem
                        fugit.
                    </p>
                    <p>
                        Abril 22, 2021 | Hace 8 min
                    </p>
                    <a href="">
                        <h3 class="font-weight-bolder">Cristian Bello</h3>
                    </a>
                    <div>
                        <button mat-button class="reaction"> <input id="radio1" type="checkbox" name="estrellas"
                                value="5">
                            <label for="radio1"><i class="fa fa-thumbs-up mr-1"></i> Me gusta</label></button>

                        <button mat-button class="reaction"> <input id="radio2" type="checkbox" name="estrellas"
                                value="5">
                            <label for="radio2"><i class="fa fa-share-alt mr-2"></i>Compartir</label></button>
                    </div>
                </div>
                
            </div>
        </div>

    </div>

</div>