<div class="footer pt-3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="">
                    <h2 class="mb-1 mt-2">Contactanos</h2>
                    <p class="">Cel: 3217581844</p>
                    <p class="mb-3">edinsoncastilloa@gmail.com</p>
                    <a href="http://facebook.com" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
                    <a href="http://instagram.com" target="_blank"> <i class="pl-2 fa fa-instagram fa-2x"></i></a>
                    <a href="http://twitter.com" target="_blank"> <i class="pl-2 fab fa fa-twitter fa-2x"></i></a>
                    <p class="mt-3">© Copyright 2021 <b>DISTRIEDIISON.</b> Todos los derechos reservados.</p>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="col-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label class="texto">Nombre</mat-label>
                            <input class="texto" matInput placeholder="Ej: Edinson">
                            <mat-icon matSuffix>edit</mat-icon>
                        </mat-form-field>
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label class="texto">Correo</mat-label>
                            <input class="texto" matInput placeholder="Ej: info@servicio.com">
                            <mat-icon matSuffix>edit</mat-icon>
                        </mat-form-field>
                    </div>
    
                    <div class="col-6">
                        <form class="example-form">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label class="texto">Comentario</mat-label>
                                <textarea class="texto" matInput placeholder="Escribir comentario" rows="6"></textarea>
                            </mat-form-field>
                        </form>
                    </div>
                    <div class="text-center col-12 mb-3">
                        <button mat-flat-button class="send texto"><span class="text-white">Enviar</span></button>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</div>