<div class="cabecera pt-5">
    <div class="ml-5 pl-5">
        <h1 class="pb-0 pl-5 ml-5 mb-0 text-white distri h1">DISTRI<span class="titleSecond ediison">EDIISON</span> </h1>
        <h5 class="ml-5 mb-0 pl-5 pb-4 text-white">SOLUCIONESAS</h5>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light p-0 ">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-5  pl-3" routerLinkActive="active">
                <a class="nav-link active ml-5 px-5 py-0 text-white" aria-current="page" [routerLink]="['/']">
                    <h2 class="p-3 mb-0 text-white">Inicio</h2>
                </a>
                <!-- <a class="nav-link text-white p-0" [routerLink]="['/administrador']">
                    <p class="p-3 mb-0">Soy administrador</p>
                </a> -->
            </div>
        </div>
        <div class="pr-5 mr-5">
            <a href="http://facebook.com" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
            <a href="http://instagram.com" target="_blank"> <i class="pl-3 fa fa-instagram fa-2x"></i></a>
            <a href="http://twitter.com" target="_blank"> <i class="pl-3 fab fa fa-twitter fa-2x"></i></a>
            <a class="pr-5 mr-5" href="http://youtube.com" target="_blank"><i class="pl-3 fa fa-youtube fa-2x"></i></a>
        </div>
    </div>
</nav>