<div class="container">
    <div class="row mb-5 tarjeta">
        <div class="col-12 mt-5">
            <div class="row">
                <div class="col-12">
                    <p><span>Autor: </span> <strong>Jorge Perez </strong>· <span> Abril 22, 2021 | Hace 8 min</span></p>
                </div>
                <div class="col-12">
                    <h1 class="text-center"><strong>Titulo publicacion</strong></h1>
                </div>
                <div class="col-12 text-center mb-3">
                    <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit ducimus animi minus
                        consequatur omnis iusto.</h2>
                </div>
                <div class="col-12">
                    <img src="https://via.placeholder.com/400x120.png?text=Imagen+del+post" alt="" class="w-100">
                </div>
                <div class="col-12 mt-5">

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde expedita vel velit, animi
                        perspiciatis
                        enim inventore molestiae a reprehenderit modi pariatur culpa! Delectus, est itaque labore vel
                        illum
                        nihil porro? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas dolores
                        consequatur
                        veniam facere tenetur quidem ipsam ex ipsum, accusamus consequuntur assumenda voluptatibus est
                        error
                        excepturi.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde expedita vel velit, animi
                        perspiciatis
                        enim inventore molestiae a reprehenderit modi pariatur culpa! Delectus, est itaque labore vel
                        illum
                        nihil porro?Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde expedita vel velit,
                        animi
                        perspiciatis
                        enim inventore molestiae a reprehenderit modi pariatur culpa! Delectus, est itaque labore vel
                        illum
                        nihil porro? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas dolores
                        consequatur
                        veniam facere tenetur quidem ipsam ex ipsum, accusamus consequuntur assumenda voluptatibus est
                        error
                        excepturi.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde expedita vel velit, animi
                        perspiciatis
                        enim inventore molestiae a reprehenderit modi pariatur culpa! Delectus, est itaque labore vel
                        illum
                        nihil porro?
                    </p>
                    <div class="col-12 text-center mb-3">
                        <img src="https://via.placeholder.com/150x150.png?text=Imagen+del+post" alt="" class="">
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde expedita vel velit, animi
                        perspiciatis
                        enim inventore molestiae a reprehenderit modi pariatur culpa! Delectus, est itaque labore vel
                        illum
                        nihil porro? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas dolores
                        consequatur
                        veniam facere tenetur quidem ipsam ex ipsum, accusamus consequuntur assumenda voluptatibus est
                        error
                        excepturi.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde expedita vel velit, animi
                        perspiciatis
                        enim inventore molestiae a reprehenderit modi pariatur culpa! Delectus, est itaque labore vel
                        illum
                        nihil porro? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas dolores
                        consequatur
                        veniam facere tenetur quidem ipsam ex ipsum, accusamus consequuntur assumenda voluptatibus est
                        error
                        excepturi.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde expedita vel velit, animi
                        perspiciatis
                        enim inventore molestiae a reprehenderit modi pariatur culpa! Delectus, est itaque labore vel
                        illum
                        nihil porro? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas dolores
                        consequatur
                        veniam facere tenetur quidem ipsam ex ipsum, accusamus consequuntur assumenda voluptatibus est
                        error
                        excepturi.
                    </p>

                </div>
            </div>
        </div>
    </div>



</div>


{{value | json}}